{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
</head>

<body>
    <div style="min-width:100%; min-height:100vh;" class="d-flex flex-column">
        <div class="col-12 bg-light shadow-sm">
            <h4 class="p-2">Chat</h4>
        </div>


        <div id="chat_holder" class="flex-fill pl-3 pr-3">

        </div>

        <div class="d-flex align-items-center p-3">
            <input type="text" id="chat_input" placeholder="Enter your msg here"
                class="form-control form-control-lg mr-3">
            <img id="send_btn" src="{% static 'chat/images/send_btn.svg' %}" alt=""
                style="cursor: pointer;height:40px; width:40px;">
        </div>

    </div>



    <!-- Jquery, Bootstrap, reconnecting-websocket -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'chat/js/reconnecting-websocket.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <!-- JS -->
    <script src="{% static 'chat/js/chat.js' %}"></script>
</body>

</html>